:root {
    --primary-green: #186118;
    --secondary-green: #4A7856;
    --light-green: #1f7d1f;
    --orange:#FFA500;
    --secondary-blue: #003fa0;
    --light-blue: #8BB8E8;
    --off-white: #F5F7F4;
    --pure-white: #FFFFFF;
    --text-dark: #000000;
  }
  